Code - OSS/
Electron/
QtProject.conf
Thunar
VirtualBox
chromium
dconf
pavucontrol.ini
pulse
vlc
xfce4
configstore
powerline-shell/__pycache__
nvim/data
nvim/.netrwhist
fontforge
torbrowser
Authy Desktop/
Slack/
neofetch/
pipewire-media-session/
__pycache__
Notion
BraveSoftware
google-chrome
Postman
mozilla
menus
ibus
gnome-control-center
Bitwarden/
autostart/
coc/
gtk-3.0/
notion-app/
protonmail/
qtile/
zoomus.conf
zoom.conf


