#input {
    border-color: transparent;
    background-color: #6147d6;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#input:focused {
    border-color: #caa9fa;
    color: white;
}

#entry {
    background-color: #7a64dc;

}

#entry:selected {
    background-color: #bd84e0;
    outline: none;
}

#img {
	margin-right: 8px;
}
